.c-hamburger {
    display: block;
    position: absolute;
    right: 1.5em;
    top: 3.1em;
    z-index: 4;
    -webkit-user-select: none;
    user-select: none;
    .admin-bar &{
        top: 78px;
        @include mq(md){
            top: 4em;
        }
    }
    @include mq(md) {
        position: unset;
        @include ie{
            position: relative;
            top: auto;
        }
    }
}
.c-hamburger__checkbox {
    display: block;
    width: 34px;
    height: 23px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    @include mq(md) {
        display: none;
    }
}
  
.c-hamburger__icon {
    display: block;
    width: 34px;
    height: 4px;
    margin-bottom: 6px;
    position: relative;
    background: $color-white;
    z-index: 1;
    transform-origin: 4.5px 2px;
    transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1),
       background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    &:first-child {
        transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    @include mq(md) {
        display: none;
    }
}
  
.c-hamburger__checkbox:checked ~ .c-hamburger__icon {
    opacity: 1;
    transform: rotate(45deg) translate(0, 0);
    background: $color-white;
    transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    width: 34px;
    height: 2px;
}
  
.c-hamburger__checkbox:checked ~ .c-hamburger__icon:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
  
.c-hamburger__checkbox:checked ~ .c-hamburger__icon:nth-last-child(1) {
    transform: rotate(-45deg) translate(0, 2.5px);
}
  
.c-header__wrap {
    &.is-open{
        transform: translate(0, 0);
        @include mq(md) {
            transform: none;
        }
    }
}
