//Colors
$color-white: #ffffff;
$color-red: #FF4800;
$color-none: rgba(255,255,255,0);
$color-black: #000000;
$color-primary: #D14800;
$color-gray: #404040;
$border-color: #C4C4C4;
$background-color: #000000;
$section-bg: #181110;
$border-section: #8D8D8D;
$color-silver: #A3A3A3;
$color-price: #9C9C9C;
$color-slidetext: #DADADA;
$color-footertext: #919191;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

$box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);